* {
	text-align: left;
	color: #99dd99;
}

a {color: #66dd66;}

body {counter-reset: compte_héritiers;}

div:not(.dynastie, .couple, .éteinte, .boutons) {
	margin: 2px 2px 2px 20px;
	background-color: rgba(0, 0, 255, 0.02);
}
.boutons {
	position: sticky;
	top: 5px;
	z-index: 99;
}
.dynastie {border: 1px #9090ff solid;}
.couple {
	display: flex;
	align-items: flex-end;
}
.éteinte {
	border: 1px red dashed;
	display: none;
}

h2 {
	margin-left: 10px;
	position: sticky;
	top: 30px;
	z-index: 99;
}
.deux {top: 55px;}
.trois {top: 85px;}
.quatre {top: 115px;}
.cinq {top: 145px;}

iframe {height: 250px;}

img {
	width: 25px;
	height: 30px;
}

.armoirie {
	width: 100px;
	height: 75px;
}

.monogramme {
	filter: invert(1);
	width: 50px;
	height: 50px;
}
.illégitime {opacity: 0.5;}

span {
	font-size: 10px;
	color: inherit;
}
